<!DOCTYPE html>
<html>
  <head>
    <title>Trip Sourced</title>
    <%= favicon_link_tag asset_path('logos/favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="col-md-12"> 
  <div class="navbar">
    <div class="text-danger pull-left d-flex align-items-left py-5 px-6">
      <%= image_tag("logos/trip_source_logo.png")%>
      <h4 class="text-left" style="text-align: left"><strong>Trip Sourced</strong></h4>
    </div>
  </div>
    
  </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
